.errorInput {
    border-color: red;
    margin: 0;
}

.input--error:focus {
    border: 1px solid red;

}

.error-notification {
    color: red;
    border-color: red;
    font-size: 13px;
    font-weight: 400;
    margin-top: 2px;
    display: none;
}

.required-field {
    color: red;
}